.App {
  background-color: #eee;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.container {
  background-color: #fff;
  width: 50vw;
  max-width: 350px;
  margin: auto;
  height: 80vh;

  border: 1px solid #ddd;
  border-radius: 3px;

  padding: 16px;
}
.container > h1 {
  color: slateblue;
  text-align: center;
}
.container > .line {
  margin: 16px 0;
}

.list-item {
  padding: 16px;
  margin: 8px;
  background-color: aliceblue;
  font-weight: 700;
}
